AddDefaultCharset UTF-8

AddType text/html html
AddType application/x-httpd-php php

# Deny access to private files
<FilesMatch "users.csv|groups.csv|config.inc.php|.htaccess">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# Deny access to .git directory
RedirectMatch 404 /\.git

# Force SSL if available
<IfModule mod_rewrite.c>
	RewriteEngine on
	<IfModule mod_ssl.c>
		RewriteCond %{HTTPS} !=on
		RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
	</IfModule>
</IfModule>
